@{
    ViewData["Title"] = "Home Page";
}
<style>
	.gradiente {
		background-color:violet;
	}
</style>

<div class="gradiente">
		<div class="col-sm-6">
			<p>Facebook te ayuda a comunicarte y compartir con las personas que forman parte de tu vida.</p>
			<img src="https://static.xx.fbcdn.net/rsrc.php/v3/yi/r/OBaVg52wtTZ.png" />
		</div>
		<div class="col-sm-6">
			<h1>Registrarte</h1>
			<h6>Es rápido y fácil.</h6>
			<div class="col-sm-6">
				<input type="text" name="name" value="Nombre" />
				<input type="text" name="name" value="Apellido" />
			</div>
			<input type="text" name="name" value="Número de móvil o correo electrónico" />
			<input type="text" name="name" value="Contraseña nueva" />
			<p>Fecha de nacimiento</p>
			<input type="number" style="width:55px; height:30px" />
			<input type="number" style="width:55px; height:30px" />
			<input type="number" style="width:55px; height:30px" />
			<div id="group1">
				<p>Género</p>
				<input type="radio" value="Mujer" name="group1" /> Mujer
				<input type="radio" value="Hombre" name="group1" /> Hombre
			</div>
			<p>
				Al hacer clic en Registrarte, aceptas las Condiciones, la Política de datos y la Política de cookies. Es posible que te enviemos notificaciones por SMS que podrás desactivar cuando quieras.
			</p>
			<input type="button" value="Registrarte" />
		</div>
</div>
