
<div class="col-md-6">
	<label>Correo electrónico o teléfono</label>
	<input type="text" />
	<label>Contraseña</label>
	<input type="password" />
	<label>¿Has olvidado los datos de la cuenta?</label>
	<input type="button" value="Enviar"/>

</div>